<div class="container mt-5">
  <h2 class= "text-center"> ABOUT US </h2>
  <h4> Our story </h4>
  <p class="lead"> Started as a family business in 2018 with the idea of living at the beach... </p>
  <br> 
  <h4> Our mission </h4> 
  <p class="lead"> We want our clients to have a fullfilling experience from de attention to the quality of the product </p>
</div>
